<style>
* { text-align: center; }
</style>

<form id="new_entry" action="/" method="post">
  <h3>Title</h3>
  <textarea name="title" rows="1" cols="20"><%=@post.first.title%></textarea><br>
  <h3>Post</h3>
  <textarea name="body" rows="10" cols="50"><%=@post.first.body%></textarea><br>
  <h3>Author</h3>
  <textarea name="author" rows="1" cols="20"><%=@post.first.author%></textarea><br>
  <h3>Date</h3>
  <textarea name="date" rows="1" cols="20"><%=@post.first.date%></textarea><br>
  <br><h3>Tags</h3>
  <input type="text" name="category"><br>
  <br>
  <input type="submit" value="biotch">
</form>